@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.678);
  color: aliceblue;
  width: 434px;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

.sidebar nav {
  padding: 30px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: white;
}

.main {
  background-color: rgba(17, 17, 2, 0.986);
  color: rgb(255, 255, 255);
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer {
  background-color: rgb(82, 236, 185);
  height: 60vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}

.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hello {
  font-size: 65px;
  font-family: "Source Code Pro", monospace;
}

.name {
  font-size: 60px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.about {
  font-size: 40px;
  font-family: "Source Code Pro", monospace;
}

.moreabout {
  font-size: 15px;
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
  color: black;
}

.btn {
  margin-top: 34px;
}

.btn button {
  padding: 9px 14px;
  border-radius: 22px;
  color: aliceblue;
  background-color: black;
  font-weight: bold;
  font-size: 14px;
  margin: 0 3px;
  cursor: pointer;
}

.btn button:hover {
  color: black;
  background-color: aliceblue;
}

.devPic img {
  height: 60vh;
}

.contactform {
  padding: 0 34px;
  padding-top: 144px;
  font-family: "Fira Sans", sans-serif;
}

.contactform h1 {
  font-family: "Source Code Pro", monospace;
  padding: 20px 0;
}

.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.contactform form div input {
  padding: 16vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}

#emailHelp {
  font-size: 12px;
  color: rgb(53, 102, 238);
  margin: 0 5px;
  padding: 3px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}

h1 {
  font-family: "Fira Sans", sans-serif;
}
p {
  font-family: "Source Code Pro", monospace;
}

.intro h2 {
  font-family: "Fira Sans", sans-serif;
  margin: 12px;
}

.intro p {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}

.skillcontainer {
  padding: 25px;
}
.skillItem {
  display: flex;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

.skill {
  width: 265px;
  height: 10px;
  background-color: green;
  border: 2px solid rgb(231, 219, 219);
}

.hundred {
  width: 265px;
}
.fifty {
  width: 125px;
}
.t5 {
  width: 75px;
}

@mdia (max-width:1615px) {
  * {
    background-color: green;
  }
  .sidebar {
    
    transform: translate(-443px, 0px);
    position: absolute;
  }
}
